[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake.git
