Source: socket.io-client-cpp
Priority: optional
Maintainer: Federico Fuga <fuga@studiofuga.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Section: libs
Homepage: https://github.com/socketio/socket.io-client-cpp
#Vcs-Browser: https://salsa.debian.org/debian/socket.io-client-cpp
#Vcs-Git: https://salsa.debian.org/debian/socket.io-client-cpp.git

Package: socket.io-client-cpp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: Development files for the Socket.io-client-cpp library
 Socket.IO is a bidirectional and low-latency communication for every platform.
 This package contains the development files for a C++11 client library.
